body {
	border: 20px solid #bdc3c7;
	padding: 20px;

	/*直到<700的80%才縮小*/
	max-width: 700px;
	width: 80%;    
	margin: 20px auto;  
	font-family: Source Sans Pro;

}

.quote {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.post {
	margin-bottom: 20px;
}

h2 {
	color: #2c3e50;
	font-size: 2.0rems;
}

hr { 
	height:1px;
	border:none;
	border-top:1px solid #555555;
} 




